    <div class="wrapper row1">
      <header class="clear" id="header">
        <!-- ################################################################################################-->
        <div class="fl_left" id="logo">
          <h1><a href="/"> <img src="/images/TEW_ICON.PNG" alt="Toshi Engineering Works"></a></h1>
        </div>
        <!-- ################################################################################################-->
        <nav class="fl_right" id="mainav">
          <ul class="clear">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a class="drop" href="#">Products</a>
              <ul style="width:250px">
                <li><a class="drop" href="#">Tube Mills</a>
                  <ul style="width:250px;left:240px">
                    <li><a href="#">Carbon Steel Tube Mill</a></li>
                    <li><a href="#">Stainless Steel Tube Mill</a></li>
                    <li><a href="#">ERW High Speed Tube Mill</a></li>
                  </ul>
                </li>
                <li><a href="#">Rolls</a></li>
                <li><a href="#">Horizontal Strip Accumulator</a></li>
                <li><a href="#">Cut To Length</a></li>
                <li><a class="drop" href="#">High Frequency Welder</a>
                  <ul style="width:250px;left:240px">
                    <li><a href="#">Solid State Induction Welder</a></li>
                    <li><a href="#">Vacuum Tube Welders</a></li>
                  </ul>
                </li>
                <li><a class="drop" href="#">Cold Saw </a>
                  <ul style="width:250px;left:240px">
                    <li><a href="#">NC Flying Cold Saw Cut-Off</a></li>
                    <li><a href="#">Burrfree Cold Saw </a></li>
                  </ul>
                </li>
                <li><a href="#">Slitting Machine HR/CR/SS</a></li>
                <li><a href="#">Tube Hydro Tester</a></li>
                <li><a href="#">Automatic End Facing Machine</a></li>
                <li><a href="#">Tube Straightening Machine</a></li>
                <li><a href="#">Threading Machine </a></li>
                <li><a href="#">AC/DC/Servo/ Main Distribution Panels</a></li>
                <li><a class="drop" href="#">Galvanizing Plant</a>
                  <ul style="width:250px;left:240px">
                    <li><a href="#">Galvanizing Structure Plant</a></li>
                    <li><a href="#">Automatic Hot Dip Galvanizing Plant</a></li>
                  </ul>
                </li>
                <li><a href="#">Pollution Plant</a></li>
              </ul>
            </li>
            <li><a class="drop" href="#">Gallery</a>
              <ul>
                <li><a href="/gallery/photo">Photo</a></li>
                <li><a href="#">Video</a></li>
              </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </header>
    </div>