*[data-ng-click] {
  cursor: pointer;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider .slide {
  z-index: 1;
}
.slider .slide .slide-object {
  width: 100%;
  height: 500px;
}
.slider-caption {
  position: absolute;
  width: 38%;
  padding: 10px;
  color: #fff;
  background-color: rgba(0,0,0,.5);
}
.slider-caption.center {
  left: 50%;
  transform: translate(-50%, 0);
}
.slider-caption.left {
  left: 12%;
}
.slider-caption.right {
  right: 12%;
}
.slider-caption.bottom {
  bottom: 18%;
}
.slider-caption.top {
  top: 12%;
}
.slider-caption.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-controls .control-d {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12%;
}
.slider-controls .control-d.left {
  left: 0;
}
.slider-controls .control-d.right {
  right: 0;
}
.slider-controls .control-d > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
.slider-controls .control-i {
  position: absolute;
  bottom: 6%;
  left: 12%;
  right: 12%;
  padding-left: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.slider-controls .control-i > .indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slider-controls .control-i > .indicator.active {
  background-color: #fff;
}


/* Animation */

.slide.ng-hide-add {
  position: absolute;
  top: 0;
  z-index: -1;
}

.animate-fade.ng-hide-add.ng-hide-add-active,
.animate-fdde.ng-hide-remove {
  animation: fadeOut .33s;
}
.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove.ng-hide-remove-active {
  animation: fadeIn .33s;
}

.animate-bounce.ng-hide-add.ng-hide-add-active,
.animate-bounce.ng-hide-remove {
  animation: bounceOutLeft .66s;
}
.animate-bounce.ng-hide-add,
.animate-bounce.ng-hide-remove.ng-hide-remove-active {
  animation: bounceInRight .66s;
}
.animate-bounce.prev.ng-hide-add.ng-hide-add-active,
.animate-bounce.prev.ng-hide-remove {
  animation: bounceOutRight .66s;
}
.animate-bounce.prev.ng-hide-add,
.animate-bounce.prev.ng-hide-remove.ng-hide-remove-active {
  animation: bounceInLeft .66s;
}

.animate-slide.ng-hide-add.ng-hide-add-active,
.animate-slide.ng-hide-remove {
  animation: slideOutLeft .33s;
}
.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove.ng-hide-remove-active {
  animation: slideInRight .33s;
}
.animate-slide.prev.ng-hide-add.ng-hide-add-active,
.animate-slide.prev.ng-hide-remove {
  animation: slideOutRight .33s;
}
.animate-slide.prev.ng-hide-add,
.animate-slide.prev.ng-hide-remove.ng-hide-remove-active {
  animation: slideInLeft .33s;
}

.animate-flip.ng-hide-add.ng-hide-add-active,
.animate-flip.ng-hide-remove {
  animation: flipOutY .33s;
}
.animate-flip.ng-hide-add,
.animate-flip.ng-hide-remove.ng-hide-remove-active {
  animation: flipInY .33s;
}
