<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/head %>
  </head>
  <body>
  	<% include partials/nav %>
  	<div class="wrapper">
  <div class="clear" id="slider" style="margin-top:3%">
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><img src="/images/01.webp" alt=""/>
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase">Toshi Engineering Works </h2>
                </article>
              </div>
            </div>
          </div>
        </li>
        <li><img src="/images/2.webp" alt=""/>
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase"> </h2>
                </article>
              </div>
            </div>
          </div>
        </li>
        <li><img src="/images/3.webp" alt=""/>
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase"> </h2>
                </article>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper" style="margin-top:3%">
  <div class="centralise"> 
    <h1 class="heading" style="text-align:center">Welcome to Toshi Engineering works!</h1>
    <p>
      We, Toshi Engineering Works, commenced our business operation in the year 2006. We are working as a renowned Manufacturer and Exporter to serve the changing needs and requirements of the customers on time. We offer comprehensive gamut of products like 
      <b> SS Tube Mill, Mild Steel Tube Mill, Carbon Steel Tube Mill, A.P.I. tube mill, Tube Mill 1/2 to 20 H R, G. I. Plant, H. F. Welder, EOT Crane, Slitting Line etc.</b>
      Our products are shaped using latest technology and high grade raw material. Our team of quality inspectors tests the gamut on varied parameters to ensure delivery of only optimum range of products. They make sure that each range matches to both national and international standards of quality. In addition to this, we follow ethical and transparent business policies throughout our business operation that has won us the valuable trust and confidence of numerous companies in India and abroad. We understand customer satisfaction is the key to success in this competitive scenario. And precisely, this is the area we feel we can beat the heat. 
    </p>
  </div>
</div>
<div class="wrapper row2">
  <div class="clear" id="services">
    <div class="group">
      <div class="one_third first">
        <article class="service"><i class="icon red circle fa fa-bell-o"></i>
          <h2 class="heading">Consultancy</h2>
          <p class="btmspace-10"> Our engineers have an experience of over four decades in tube mill industries. We delivers cost-effective solutions to Clients to maximize their assets, improve competitive positioning, and increase long-term business success. </p>
          <p><a href="#">Read More »</a></p>
        </article>
      </div>
      <div class="one_third">
        <article class="service"><i class="icon orange circle fa fa-book"></i>
          <h2 class="heading">Conceptual Studies</h2>
          <p class="btmspace-10">Our engineers prepare detailed feasibility reports including studies for site selection, market analysis, refinery configuration, procurement strategy, capital cost estimates, and financial evaluation.</p>
          <p><a href="#">Read More »</a></p>
        </article>
      </div>
      <div class="one_third">
        <article class="service"><i class="icon green circle fa fa-mortar-board"></i>
          <h2 class="heading">Engineering Services</h2>
          <p class="btmspace-10">Engineering services include front-end engineering and design (FEED), detail design, and engineering expertise that range from traditional disciplines: such as civil, electrical, instrumentation, mechanical and structural engineering.</p>
          <p><a href="#">Read More »</a></p>
        </article>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper row6">
  <section class="clear" id="cta">
    <h1 class="heading" style="text-align:center">Most popular products</h1>
  </section>
</div>
<div class="wrapper row2">
  <div class="latest">
    <ul class="nospace group">
      <li>
        <figure><a class="overlay" href="#"><img src="/images/ITM.jpg" alt=""/></a>
          <figcaption class="inspace-30 center">
            <p class="bold uppercase">Industrial tube mills</p>
            <p><a href="#">View Here »</a></p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure><a class="overlay" href="#"><img src="/images/CTLM.jpg" alt=""/></a>
          <figcaption class="inspace-30 center">
            <p class="bold uppercase">Cut To Length Machine</p>
            <p><a href="#">View Here »</a></p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure><a class="overlay" href="#"><img src="/images/ERWHSTM.jpg" alt=""/></a>
          <figcaption class="inspace-30 center">
            <p class="bold uppercase">ERW High Speed Tube Mill</p>
            <p><a href="#">View Here »</a></p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure><a class="overlay" href="#"><img src="/images/HM.jpg" alt=""/></a>
          <figcaption class="inspace-30 center">
            <p class="bold uppercase">Hydrotester Machine</p>
            <p><a href="#">View Here »</a></p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure><a class="overlay" href="#"><img src="/images/HFW.jpg" alt=""/></a>
          <figcaption class="inspace-30 center">
            <p class="bold uppercase">High Frequency Welder</p>
            <p><a href="#">View Here »</a></p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper row3">
  <main class="container nospace clear">
    <!-- main body-->
    <div class="group">
      <h2 class="heading uppercase btmspace-50">About Us</h2>
      <ul class="nospace group">
        <li class="btmspace-30">
          <article class="service largeicon"><i class="icon nobg circle fa fa-ra"></i>
            <h6 class="heading"> Mission</h6>
            <p>To supply high-quality tube mills and providing related services and solutions to a worldwide client base while utilizing innovative technologies within an environment of motivated employees focused on continuous improvement, highest business standards, work ethics and leading to added value to our customers.</p>
          </article>
        </li>
        <li class="btmspace-30">
          <article class="service largeicon"><i class="icon nobg circle fa fa-eye"></i>
            <h6 class="heading">Vision</h6>
            <p>To manufacture products comparable to international standards, to be customer-focused and globally competitive through better quality, latest technology and continuous innovation.</p>
          </article>
        </li>
        <li>
          <article class="service largeicon"><i class="icon nobg circle fa fa-history"></i>
            <h6 class="heading">Values</h6>
            <p>
              <ul style="list-style-type: none">
                <li>Customer's satisfaction and delight.</li>
                <li>Superior quality of performance.</li>
                <li>Act with honesty and integrity.</li>
                <li>Passionate about excellence.</li>
                <li>Always work effectively and efficiently.</li>
              </ul>
            </p>
          </article>
        </li>
      </ul>
    </div>
    <!-- / main body-->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
  <footer class="clear" id="footer">
    <!-- ################################################################################################-->
    <div class="one_quarter first">
      <h6 class="title">Company Details</h6>
      <address class="btmspace-15">Company Name<br/>      Street Name & Number<br/>      Town<br/>      Postcode/Zip</address>
      <ul class="nospace">
        <li class="btmspace-10"><span class="fa fa-phone"></span> +00 (123) 456 7890</li>
        <li><span class="fa fa-envelope-o"></span> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Quick Links</h6>
      <ul class="nospace linklist">
        <li><a href="#">Home Page</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">From The Blog</h6>
      <article>
        <h2 class="nospace"><a href="#">Lorem ipsum dolor</a></h2>
        <time class="smallfont" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed.</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="title">Keep In Touch</h6>
      <form class="btmspace-30" method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Email"/>
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div class="clear" id="copyright">
    <p class="fl_left">Copyright © 2015 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <% include partials/footer %>
  </body>
</html>
