doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='/layout/styles/layout.css', rel='stylesheet', type='text/css', media='all')
  body#top
    .wrapper.row1
      header#header.clear
        // ################################################################################################
        #logo.fl_left
          h1
            a(href='/') 
             img(src="/images/TEW_ICON.PNG" alt="Toshi Engineering Works")
        // ################################################################################################
        nav#mainav.fl_right
          ul.clear
            li(class=(url==='/' ? 'active' : ''))
              a(href='/') Home
            li
              a(href='/about') About Us
            li
              a.drop(href='#') Products
              ul(style="width:250px;")
                li
                  a.drop(href='#') Tube Mills
                  ul(style="width:250px;left:240px;")
                    li
                      a(href='#') Carbon Steel Tube Mill
                    li
                      a(href='#') Stainless Steel Tube Mill
                    li
                      a(href='#') ERW High Speed Tube Mill
                li
                  a(href='#') Rolls
                li
                  a(href='#') Horizontal Strip Accumulator
                li
                  a(href='#') Cut To Length
                li
                  a.drop(href='#') High Frequency Welder
                  ul(style="width:250px;left:240px;")
                    li
                      a(href='#') Solid State Induction Welder
                    li
                      a(href='#') Vacuum Tube Welders
                li
                  a.drop(href='#') Cold Saw 
                  ul(style="width:250px;left:240px;")
                    li
                      a(href='#') NC Flying Cold Saw Cut-Off
                    li
                      a(href='#') Burrfree Cold Saw 
                li
                  a(href='#') Slitting Machine HR/CR/SS
                li
                  a(href='#') Tube Hydro Tester
                li
                  a(href='#') Automatic End Facing Machine
                li
                  a(href='#') Tube Straightening Machine
                li
                  a(href='#') Threading Machine 
                li
                  a(href='#') AC/DC/Servo/ Main Distribution Panels
                li
                  a.drop(href='#') Galvanizing Plant
                  ul(style="width:250px;left:240px;")
                    li
                      a(href='#') Galvanizing Structure Plant
                    li
                      a(href='#') Automatic Hot Dip Galvanizing Plant
                li
                  a(href='#') Pollution Plant
            li(class=(url==='/gallery/photo' ? 'active' : ''))
              a.drop(href='#') Gallery
              ul
                li(class=(url==='/gallery/photo' ? 'active' : ''))
                  a(href='/gallery/photo') Photo
                li
                  a(href='#') Video
            li
              a(href='#') Contact Us
    block content
