<div ng-controller="mainCtrl"><div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li>Give us a call : +91 9810956491 / 011 4157 9544 </li>
			</ul>

			<!-- <ul class="logreg">
				<li><a href="#">Login </a> </li>
				<li><a href="#"><span class="register">Register</span></a></li>
			</ul> -->
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="#"><img src="img/TEW_ICON.PNG" alt="logo"></a>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
					
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active" ng-click="goTo('home')"><a href="">HOME</a> </li>
				<li class="active" ng-click="goTo('about')"><a href="">ABOUT US</a> </li>
				<li>
					<a href="" onclick="myFunction()" class="dropbtn">PRODUCTS <span class="caret"></span></a>
					<ul class="dropdown dropdown-content dropdown-menu" id="myDropdown">
  	                    <li>
                            <a href="" onclick="myFunction1()" class="dropbtn1">Tube Mill Machinary<span class="caret"></span></a>
                            	<ul class="dropdown dropdown-content1 dropdown-menu" id="myDropdown1" style="text-decoration:none;list-style:none;"> 
                                    <li ng-click="goTo('product/Cut To Length Machine')"><a href="">Cut To Length Machine</a></li>
                                    <li ng-click="goTo('product/Tube Mill Rolls')"><a href="">Tube Mill Rolls</a></li>
                                    <li ng-click="goTo('product/Industrial Tube Mills')"><a href="">Industrial Tube Mills</a></li>
                                    <li ng-click="goTo('product/High Frequency Welder')"><a href="">High Frequency Welder</a></li>
                                    <li ng-click="goTo('product/Hydrotester Machine')"><a href="">Hydrotester Machine</a></li>
                                    <li ng-click="goTo('product/Hot Dip Galvanising Plant')"><a href="">Hot Dip Galvanising Plant</a></li>
                                    <li ng-click="goTo('product/Galvanising Pollution Plant')"><a href="">Galvanising Pollution Plant</a></li>
                                    <li ng-click="goTo('product/Galvanising Plant')"><a href="">Galvanising Plant</a></li>
                                    <li ng-click="goTo('product/ERW High Speed Tube Mill')"><a href="">ERW High Speed Tube Mill</a></li>
                                </ul>
                        </li>
                        <li>
                            <a href="" onclick="myFunction2()" class="dropbtn2">EOT Cranes<span class="caret"></span></a>
                            	<ul class="dropdown dropdown-content2 dropdown-menu" id="myDropdown2" style="text-decoration:none;list-style:none;"> 
                                    <li ng-click="goTo('product/Hydraulic EOT Cranes')"><a href="">Hydrolic EOT Crane</a></li>
                                    <li ng-click="goTo('product/Welding Unit')"><a href="">Welding unit</a></li>
                                </ul>
                        </li>
					</ul>
				</li>
				<li>
					<a href="" onclick="myFunction3()" class="dropbtn3">Gallery <span class="caret"></span></a>
					<ul class="dropdown dropdown-content3 dropdown-menu" id="myDropdown3">
  	                    <li ng-click="goTo('gallery/photo')"><a href="">Photos</a></li>
  	                    <li ng-click="goTo('gallery/video')"><a href="">Video</a></li>

					</ul>
				</li>
				<li><a href="">carrier</a></li>
				<li ng-click="goTo('contact')"><a href="">CONTACT</a></li>
				<!-- <button><span class="postnewcar">POST NEW CAR</span></button> -->
			</ul>
		</div>
	</nav>
</div>
