<div class="allcontain">
	<div ng-include onload="loaded=true" src="'/pages/header.html'"></div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain" ng-if="loaded===true">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
  		 <slider data-slides="slides"></slider>
  
  <script type="text/ng-template" id="slider.html">

    <div data-ng-mousemove="pause()" data-ng-mouseleave="play()" class="slider">
      <div data-ng-repeat="slide in slides" data-ng-show="isActiveIndex($index)" data-ng-class="{prev: isPrev}" class="slide {{setAnimation(slide.animate)}}">
      	<div class="slide-object" alt="Slide {{$index}}" style="height: 550px;">
      		<div id="chevron"></div>
      		<div>

      		<img class="col-md-4" data-ng-src="{{slide.src}}" style="align-items: center;margin-left:7%; ;height: 400px;width: 400px;border: #e0c271 7px solid;margin-top: 5%;">
      		<img class="col-md-4" data-ng-src="{{$last?slides[0].src:slides[$index+1].src}}" style="margin-top: 5%;margin-left: 5px;height: 400px;width: 400px;border: #e0c271 7px solid;">
      		<div class="col-md-1"></div>
      		<div class="col-md-3" style="margin-top: 4%;margin-left: -5%;font-size: 22px;font-weight: bold;text-shadow: 2px 2px white;"><span style="color: blue;">Manufacture and Export of</span> Steel Sliting Line, Electric Steel Slitting Line, Steel Coil Slitting Line, Steel Sheet Slitting Line, Tube Mill Machinery, G. I. Plant, H. F. Welder, EOT Crane, Slitting,Tube Mill 1/2 to 20 H R etc.</div>      			
      		</div>

      	</div>
        
      </div>

      <div data-ng-show="slides.length > 1" class="slider-controls">

        <a data-ng-click="prev()" class="control-d left">
          <i class="icon fa fa-chevron-left"></i>
        </a>
        <a data-ng-click="next()" class="control-d right">
          <i class="icon fa fa-chevron-right"></i>
        </a>

        <ol class="control-i">
          <li data-ng-repeat="slide in slides" data-ng-class="{active: isActiveIndex($index)}" data-ng-click="setActiveIndex($index)" class="indicator"></li>
        </ol>
      </div>
    </div>
  </script>
</div>
	</div>

</div>
<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	<div class="feturedsection">
		<h1 class="text-center">WELCOME TO TOSHI ENGINEERING WORKS !</h1>
	<p class="text-center" style="font-size: 18px;">Presenting a wide range of quality products like Tube Mill Machinery, G. I. Plant, H. F. Welder, EOT Crane, Slitting Line, Tube Mill 1/2 to 20 H R, etc.</p>
	</div>
</div>
<div class="allcontain">
	<div class="feturedsection">
		<h1 class="text-center"><span class="bdots">&bullet;</span>MOST POPULAR<span class="carstxt">PRODUCTS</span>&bullet;</h1>
	</div>
	<div class="feturedimage">
		<div class="row firstrow">
			<div class="col-lg-6 costumcol colborder1">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
						<img src="/img/Industrial Tube Mills.jpg" style="margin-top: 20%;" alt="porsche">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1>Industrial Tube Mills</h1>
							<p style="font-size: 18px;">widely used in tube and pipe manufacturing industries for designing tubes in various diameters and lengths</p>
							<p>&nbsp;</p>
			 				<button id="btnRM" onclick="rmtxt()">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 costumcol colborder2">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
						<img src="/img/Cut To Length Machine.jpg" style="margin-top: 20%;" alt="porsche1">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1>Cut To Length Machine</h1>
							<p style="font-size: 18px;">manufactured, exported and supplied by our professionals utilizing premium quality raw materials as per the latest market trends</p>
			 				<button id="btnRM2">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- ________________________LATEST CARS SECTION _______________________-->
<div class="latestcars">
	<h1 class="text-center">&bullet; BEST SELLER &bullet;</h1>
</div>
<br>
<br>
<!-- ________________________Latest Cars Image Thumbnail________________-->
	<div class="grid">
		<div class="row" style="align-items: center;">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-left: 7%;">
				<div class="txthover">
					<img src="/img/ERW High Speed Tube Mill.jpg" alt="car1">
						<div class="txtcontent">
							<div class="simpletxt">
								<h3 class="name">ERW High Speed Tube Mill</h3>
								<p>The specification of ERW High-Speed Tube mill is available on demand of client</p>
	 							<button>READ MORE</button><br>
	 						</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-left: 7%;">
				<div class="txthover">
					<img src="/img/Hydrotester Machine.jpg" style="height: 254px;" alt="car2">
						<div class="txtcontent">
							<div class="simpletxt">
								<h3 class="name">Hydrotester Machine</h3>
								<p>high demands for their less maintenance, precise dimensions, corrosion and chemical resistance  </p>
	 							<button>READ MORE</button><br>
							</div>
						</div>
				</div>	 
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-left: 7%;">
				<div class="txthover">
					<img src="/img/High Frequency Welder.jpg" alt="car3">
						<div class="txtcontent">
							<div class="simpletxt">
								<h3 class="name">High Frequency Welder</h3>
								<p>highly renowned for high tensile strength, precise dimensions, sturdy construction, corrosion resistance</p>
	 							<button>READ MORE</button><br>
						</div>
				</div>	 
			</div>
		</div>
	</div>
			<!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="txthover">
					<img src="img/4.jpg" alt="car4">
						<div class="txtcontent">
							<div class="stars">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
							<div class="simpletxt">
								<h3 class="name">Lorem ipsum</h3>
								<p>"Lorem ipsum dolor sit amet, consectetur,<br>
	 							sed do eiusmod tempor incididunt" </p>
	 							<h4 class="price">1000 &euro;</h4>
	 							<button>READ MORE</button><br>
	 							<div class="wishtxt">
		 							<p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
		 							<p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
		 						</div>
							</div>
							<div class="stars2">
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
								<div class="glyphicon glyphicon-star"></div>
							</div>
						</div>
				</div>	 
			</div> -->
	<div class="allcontain feturedsection">
				<h1 class="text-center">A Prelude</h1>
				<div style="font-size:17px; margin-left: 4%;margin-right: 3%;">
				<p >We, Toshi Engineering Works, commenced our business operation in the year 2006. We are working as a renowned Manufacturer and Exporter to serve the changing needs and requirements of the customers on time. We offer comprehensive gamut of products like SS Tube Mill, SS Tube Mill Machine, Stainless Steel Tube Mill, Mild Steel Tube Mill, Carbon Steel Tube Mill, Tube Mill Machinery, G. I. Plant, H. F. Welder, EOT Crane, Slitting Line, Tube Mill 1/2 to 20 H R, A.P.I. etc. Our products are shaped using latest technology and high grade raw material. We source the material from reliable vendors only. The range is widely acclaimed in the market for its compact size, wide usages, accurate dimension and excellent performance. 
				</p>
				<p>
Our team of quality inspectors tests the gamut on varied parameters to ensure delivery of only optimum range of products. They make sure that each range matches to both national and international standards of quality. Apart, we pack our range in quality packaging material like corrugated and wooden boxes to save it from damages during transportation. Also, our wide distribution network helps us in delivering the ordered consignments in stipulated time frame to its destination. In addition to this, we follow ethical and transparent business policies throughout our business operation that has won us the valuable trust and confidence of numerous companies in India and abroad.</p>
			</div>
			</div>		
	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu" style="clear: both;">
		<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="img/TEW_ICON.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div>
		<ul class="nav nav-tabs bottomlinks">
			<li role="presentation" ><a href="#/" role="button">ABOUT US</a></li>
			<li role="presentation"><a href="#/">CATEGORIES</a></li>
			<li role="presentation"><a href="#/">PREORDERS</a></li>
			<li role="presentation"><a href="#/">CONTACT US</a></li>
			<li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
		</ul>
		<p>"Lorem ipsum dolor sit amet, consectetur,  sed do eiusmod tempor incididunt <br>
			eiusmod tempor incididunt </p>
		 <img src="image/line.png" alt="line"> <br>
		 <div class="bottomsocial">
		 	<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
			</div>
	</div>
</div>