<!--========== SLIDER ==========-->
<div class="promo-block" ng-init="loaded=false">
    <div class="container">
        <div class="margin-b-40">
        	<h1 class="promo-block-title" style="font-weight: bolder;">Tripstr</h1>
        	<p><div>
        	<span  class="head-text">Be you be</span>
             </p>
             <p><span class="head-text">
             	<typer words="['unique','YOUnique!']" type-time='150' pause="1500" backspace-time='50' start-delay='2000'></typer>
             </span></p>
             </div>
        </div>

    </div>
</div>
<!--========== SLIDER ==========-->
<div ng-include onload="loaded=true" src="'/pages/header.html'"></div>
<!--========== PAGE LAYOUT ==========-->
<!-- Products -->
<div ng-if="loaded===true" ng-include src="'/pages/service.html'"></div>
<!-- End Service -->

<div ng-if="loaded===true" ng-include src="'/pages/ourteam.html'"></div>

<!-- Contact -->
<div ng-if="loaded===true" ng-include src="'/pages/contact_form.html'"></div>
<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->

<!--========== FOOTER ==========-->
<div ng-if="loaded===true" ng-include src="'/pages/footer.html'"></div>
<!--========== END FOOTER ==========-->