<div class="allcontain">
	<div ng-include onload="loaded=true" src="'/pages/header.html'"></div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain" style="margin-top: 2%;margin-bottom: 5%;">
<div class="container" ng-init="selection = images[0]">
  <h1 style="text-align: center;">Photo Gallery</h1>
  <div class="hero-image"><img src="{{selection}}"/></div>
  <div>
    <div class=""><img ng-repeat="img in images" class="col-xs-12 col-sm-6 col-md-3 col-lg-2" src="{{img}}" style="margin:1%;" ng-click="$parent.selection = img"/></div>
  </div>
</div>
</div>
	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu" >
		<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="img/TEW_ICON.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div>
		<ul class="nav nav-tabs bottomlinks">
			<li role="presentation" ><a href="#/" role="button">ABOUT US</a></li>
			<li role="presentation"><a href="#/">CATEGORIES</a></li>
			<li role="presentation"><a href="#/">PREORDERS</a></li>
			<li role="presentation"><a href="#/">CONTACT US</a></li>
			<li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
		</ul>
		<p>"Lorem ipsum dolor sit amet, consectetur,  sed do eiusmod tempor incididunt <br>
			eiusmod tempor incididunt </p>
		 <img src="image/line.png" alt="line"> <br>
		 <div class="bottomsocial">
		 	<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
			</div>
	</div>
</div>