<div class="allcontain">
	<div ng-include onload="loaded=true" src="'/pages/header.html'"></div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain" ng-if="loaded===true">
<div class="col-md-2" ng-init="subCat1=false;subCat2=false">
	<ul class="nav nav-pills nav-stacked" style="margin-top: 25%;">
  <li class="active" ng-click="subCat1===true?subCat1=false:subCat1=true;subCat2=false;"><a href="">Home</a></li>
  <li ng-if="subCat1===true&&subCat2===false">
  		<ul class="nav nav-pills nav-stacked" style="margin-left: 4%;">
  			<li><a href="#">Cut To Length Machine</a></li>
  			<li><a href="#">Tube Mill Rolls</a></li>
  			<li><a href="#">Industrial Tube Mills</a></li>
  			<li><a href="#">High Frequency Welder</a></li>
  			<li><a href="#">Hydrotester Machine</a></li>
  			<li><a href="#">Hot Dip Galvanising Plant</a></li>
  			<li><a href="#">Galvanising Pollution Plant</a></li>
  			<li><a href="#">Galvanising Plant</a></li>
  			<li><a href="#">ERW High Speed Tube Mill</a></li>

  		</ul>
  </li>
  <li ng-click="subCat2===true?subCat2=false:subCat2=true;subCat1=false;"><a href="">EOT Cranes</a></li>
  <li ng-if="subCat2===true&&subCat1===false">
  	<ul class="nav nav-pills nav-stacked" style="margin-left: 4%;">
  			<li><a href="#">Hydraulic EOT Cranes</a></li>
  			<li><a href="#">Welding Unit</a></li>
  		</ul>
  </li>
</ul>
</div>
<div class="col-md-2"></div>
<div class="col-md-6">
	<h1 class="text-center">{{product.name}}</h1>
	<img src="{{product.imgPath}}" style="height: 400px;width: 500px;margin-left: 10%;border: 5px solid #f4f4f4;box-shadow: 5px 3px 4px grey;">
	<p ng-if="product.code"><b>Product Code:</b> {{product.code}}</p>
	<hr>
	<div>
	<span><b>Product Description:</b></span>
	<p>{{product.description}}</p>
	</div>
	<div ng-if="product.description2">
	<div ng-bind-html="product.description2 | trust"></div>
	</div>
	<div ng-if="product.features">
	<span><b>Product Features:</b></span>
	<ul>
		<li ng-repeat="a in product.features">{{a}}</li>
	</ul>
	</div>
	<div ng-if="specs">
	<span><b>Product Specifications:</b></span>
	<div ng-bind-html="specs | trust"></div>
	</div>
</div>


</div>		

	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu" style="clear: both;">
		<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="img/TEW_ICON.PNG" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div>
		<ul class="nav nav-tabs bottomlinks">
			<li role="presentation" ><a href="#/" role="button">ABOUT US</a></li>
			<li role="presentation"><a href="#/">CATEGORIES</a></li>
			<li role="presentation"><a href="#/">PREORDERS</a></li>
			<li role="presentation"><a href="#/">CONTACT US</a></li>
			<li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
		</ul>
		<p>"Lorem ipsum dolor sit amet, consectetur,  sed do eiusmod tempor incididunt <br>
			eiusmod tempor incididunt </p>
		 <img src="image/line.png" alt="line"> <br>
		 <div class="bottomsocial">
		 	<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
		</div>
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
			</div>
	</div>
</div>